Repository slyalin/openvino, pull requests merged in 2023-08, with the labels that each got.

#124 Add py compression tests
  src/bindings/python/tests/test_transformations/test_compression.py
Labels: category: Python API

#125 define rt_info for postponed_fp16_compression
  src/bindings/python/tests/test_transformations/test_compression.py
  src/common/transformations/include/transformations/rt_info/disable_fp16_compression.hpp
  src/common/transformations/src/transformations/common_optimizations/compress_float_constants.cpp
  src/common/transformations/src/transformations/rt_info/disable_fp16_compression.cpp
  src/core/src/pass/serialize.cpp
Labels: category: Python API, category: Core, category: transformations

#126 fix PDPD convert_model tests
  tests/layer_tests/mo_python_api_tests/test_mo_convert_paddle.py
  tests/layer_tests/ovc_python_api_tests/test_paddle.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
Labels: category: MO, category: tools
