Repository slyalin/openvino, pull requests merged in 2023-01, with the labels that each got.

#54 Support converting models without freezing
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/get_attr.cpp
  src/frontends/pytorch/src/op/list_construct.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
Labels: category: Python API

#94 Small refactoring
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/core/src/op/util/framework_node.cpp
  src/frontends/pytorch/src/op/arange.cpp
  src/frontends/pytorch/src/op/expand.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/im2col.cpp
  src/frontends/pytorch/src/op/upsample.cpp
  src/frontends/pytorch/src/pt_framework_node.hpp
Labels: category: Python API, category: Core

#95 try to fix code style
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
Labels: category: Python API

#97 Branch clean up
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/src/transforms.cpp
  src/frontends/pytorch/src/utils.cpp
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
Labels: category: Python API, category: MO

#102 Remove dependency from pytorch in pyopenvino
  cmake/templates/OpenVINOConfig.cmake.in
  src/bindings/python/src/openvino/frontend/pytorch/__init__.py
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/common/src/manager.cpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/CMakeLists.txt
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/input_model.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/pt_framework_node.hpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
Labels: category: Python API, category: Core, category: build, category: CPP API

#116 Small refactoring
  cmake/features.cmake
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/bindings/python/src/pyopenvino/frontend/decoder.cpp
  src/bindings/python/src/pyopenvino/frontend/decoder.hpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/py_module.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/frontends/CMakeLists.txt
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/common/include/openvino/frontend/node_context.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/convnd.cpp
  src/frontends/pytorch/src/op/convolution_mode.cpp
  src/frontends/pytorch/src/op/if.cpp
  src/frontends/pytorch/src/op_table.hpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
Labels: category: Python API, category: Core, category: build, category: CPP API, category: IE Tests
