Repository slyalin/openvino, pull requests merged in 2024-08, with the labels that each got.

#155 Integration with GraphCompiler
  CMakeLists.txt
  cmake/features.cmake
  cmake/graph-compiler.cmake
  src/cmake/openvino.cmake
  src/common/transformations/CMakeLists.txt
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.hpp
Labels: category: build, category: transformations, category: inference

#162 [GraphCompiler] Use find_package() for CMake < 3.24
  cmake/graph-compiler.cmake
Labels: category: build

#163 Fixed build failure caused by #155
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
Labels: category: transformations

#164 multi-layer support in benchmark scripts
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_model_gen.py
Labels: category: tools

#165 [MLIR][DLTI] Add DLTI attr to MLIR-generated modules
  src/common/transformations/src/transformations/mlir/convert.cpp
Labels: category: transformations

#166 Unify bench configs
  tools/mlir_bench/libxsmm_bench.sh
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_raw_mlir_bench.sh
  tools/mlir_bench/run_bench_bf16.sh
  tools/mlir_bench/run_bench_f32.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: tools
