Repository slyalin/openvino, pull requests merged in 2024-07, with the labels that each got.

#131 Assert doesn't get compiled in Release mode
  src/common/transformations/src/transformations/mlir/convert.cpp
Labels: category: transformations

#133 Reduce warnings
  src/common/transformations/src/transformations/mlir/convert.cpp
Labels: category: transformations

#135 Multi-node patterns with Add, Sub, Mul, Div
  src/common/transformations/src/transformations/mlir/convert.cpp
Labels: category: transformations

#137 Reorg: split monolithic convert.cpp into multiple files
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.hpp
  src/common/transformations/src/transformations/mlir/subgraph_tracker.cpp
  src/common/transformations/src/transformations/mlir/subgraph_tracker.hpp
  src/common/transformations/src/transformations/mlir/typedefs.hpp
Labels: category: transformations

#138 Pre-bufferization cleanup
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
Labels: category: transformations

#139 ov::MatMul -> linalg::MatmulTransposeBOp
  src/common/transformations/src/transformations/mlir/conversion_context.cpp
  src/common/transformations/src/transformations/mlir/conversion_context.hpp
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.hpp
  src/common/transformations/src/transformations/mlir/op/matmul.cpp
  src/common/transformations/src/transformations/mlir/op/matmul.hpp
  src/common/transformations/src/transformations/mlir/subgraph_tracker.cpp
Labels: category: transformations

#141 Allow static input
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/op/matmul.cpp
Labels: category: transformations

#143 Match and lower ov::Relu
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/common/transformations/src/transformations/mlir/op/relu.cpp
  src/common/transformations/src/transformations/mlir/op/relu.hpp
Labels: category: transformations

#140 [GPU] Draft of MLIR and Generic ops
  src/plugins/intel_gpu/include/intel_gpu/plugin/program_builder.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/generic_primitive.hpp
  src/plugins/intel_gpu/src/graph/generic_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/common/generic_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/common/register.cpp
  src/plugins/intel_gpu/src/graph/impls/common/register.hpp
  src/plugins/intel_gpu/src/graph/include/generic_primitive_inst.h
  src/plugins/intel_gpu/src/plugin/ops/generic.cpp
  src/plugins/intel_gpu/src/plugin/ops/mlir_op.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#142 TPP-MLIR as out-of-tree dependency
  CMakeLists.txt
  cmake/tpp-mlir.cmake
  scripts/build_mlir.sh
  scripts/build_tpp_mlir.sh
  src/cmake/openvino.cmake
  src/common/transformations/CMakeLists.txt
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/plugins/intel_npu/tools/compile_tool/CMakeLists.txt
Labels: category: build, category: dependency_changes, category: transformations, category: NPU, category: inference

#145 Fix missing return in Partitioner::run_on_model
  src/common/transformations/src/transformations/mlir/convert.cpp
Labels: category: transformations

#146 Fixing xsmm runner dynamic load
  cmake/tpp-mlir.cmake
Labels: category: build

#147 Pass XSMM runner lib to MLIR execution engine
  cmake/tpp-mlir.cmake
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
Labels: category: build, category: transformations

#148 Broadcast support for elementwise ops
  src/common/transformations/src/transformations/mlir/conversion_context.cpp
  src/common/transformations/src/transformations/mlir/conversion_context.hpp
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/op/binary_eltwise.cpp
  src/common/transformations/src/transformations/mlir/op/binary_eltwise.hpp
  src/common/transformations/src/transformations/mlir/op/matmul.cpp
  src/common/transformations/src/transformations/mlir/op/relu.cpp
Labels: category: transformations

#151 Disable MatMul conversion for not supported cases to avoid crashing
  src/common/transformations/src/transformations/mlir/op/matmul.cpp
Labels: category: transformations

#154 Environment variables to control MLIR execution
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/mlir_op.cpp
  src/common/transformations/src/transformations/mlir/mlir_op.hpp
Labels: category: transformations

#156 Match all element types
  src/common/transformations/src/transformations/mlir/convert.cpp
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/convert_common.hpp
  src/common/transformations/src/transformations/mlir/op/relu.cpp
Labels: category: transformations

#157 Fix graph partitioner when multiple MLIROp instances go side-by-side
  src/common/transformations/src/transformations/mlir/convert_common.cpp
  src/common/transformations/src/transformations/mlir/subgraph_tracker.cpp
Labels: category: transformations

#152 MLP benchmarks
  cmake/tpp-mlir.cmake
  tools/mlir_bench/README.md
  tools/mlir_bench/libxsmm_bench.sh
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_model_gen.py
  tools/mlir_bench/ov_raw_mlir_bench.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: build, category: tools, category: docs

#158 Align MLP sizes with TPP-MLIR benchmarks
  tools/mlir_bench/libxsmm_bench.sh
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_model_gen.py
  tools/mlir_bench/ov_raw_mlir_bench.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: tools

#159 Lower number of benchmark iterations
  tools/mlir_bench/libxsmm_bench.sh
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_raw_mlir_bench.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: tools

#160 MLP bench - control OV infer precision
  tools/mlir_bench/mlp_bench.sh
  tools/mlir_bench/ov_raw_mlir_bench.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: tools

#161 TPP const weights and benchmark runners
  tools/mlir_bench/run_bench_bf16.sh
  tools/mlir_bench/run_bench_f32.sh
  tools/mlir_bench/tpp_mlir_bench.sh
Labels: category: tools
